<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
    <script src ="~/Scripts/jquery-1.9.1.js"></script>
    @Scripts.Render("~/Scripts/jquery-1.9.1.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    <title></title>
</head>
<body>
    <div>
        @if (TempData["message"] != null) {
            <div class="Message">@TempData["message"]</div>
}
        
        @RenderBody()
        @if (IsSectionDefined("scripts")){
        @RenderSection("scripts",required:true)
        }
    </div>
</body>
</html>
