@model SportsStore.ViewModel.Models.ProfileViewModel

@{
    ViewBag.Title = "Register";
    Layout = null;
    
}
<title>Register</title>
<link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />

@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<h1 align="center">Register</h1>
<hr />
<div align="center">@Html.ValidationSummary() </div>
<div class="container-fluid">
    <form action="/Account/Register" method="post" data-toggle="validator" class="register-form">
        <div class="row">
            <div class="col-md-4  col-md-offset-4">
                 <b>* Name</b>
                 <input name="Name" class="form-control" value="@Model.Name" required="required" pattern="[a-zA-z]{1,}" >         
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  col-md-offset-4">
                <b>* Surname </b>
                <input name="Surname" class="form-control" value="@Model.Surname" required ="required" pattern="[a-zA-z]{1,}">             
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  col-md-offset-4">
                <b>* Logname</b>
                <input name="Logname" class="form-control" type="text" value="@Model.Logname"  required ="required" pattern="[a-zA-Z1-9]{5,16}" title="Min length is 5"/>               
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  col-md-offset-4">
                <b>* Email</b>
                @*<input name="email" class="form-control" type="email" value="@Model.Email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>*@               
           @Html.TextBoxFor(x=>x.Email,
           new{
           @class="form-control",
           type = "email",
           required = "required",
           title = "Wrong format for email!"
           //pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
           })
                 </div>
        </div>
        <div class="row">
            <div class="col-md-4  col-md-offset-4">
                <b>* Password</b>
                <input name="Password" class="form-control" id="inputPass" type="password" required="" pattern="[a-zA-Z1-9]{5,16}" title="Wrong format for password!">               
            </div>
        </div>
      @*  <div class="row">
            <div class="col-md-4  col-md-offset-4">
                <b>* Password (Repeat)</b>
                <input class="form-control" data-match="#inputPass" type="password" required="" pattern="[a-zA-Z1-9]{6,16}" title ="Wrong format for password!">                
            </div>
        </div>*@
        <hr>
        <div class="row">
            <div class="col-md-1  col-md-offset-5">
                <button class="btn btn-default logbutton" type="submit">Confirm</button>

            </div>
            <div class="col-md-6 ">
                <button class="btn btn-default regbutton" href="/Product/List">Go back</button>
            </div>
        </div>
    </form>
</div>

